@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2f2b2a !important;
}

/* h1, h2, h3, h4{
	font-family: 'Montserrat Black', sans-serif;
} */

.header-title h1{
	font-size: 6rem;
}
.monstb{
	font-family: 'Montserrat Black', sans-serif;
}

.header-image{
	box-sizing: border-box;
	padding: 0 10rem;	
}
h5,h6{
	font-family: 'Montserrat', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hero-section{
	background-color: #f28135;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1; 
}

.info-section{
	background: url('/background.svg');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	top:50vh;
	z-index: 999;
	height:auto;
	padding:300px 0
}

.centeredRow{
	padding: 10rem 0;
	/* align-items: center; */
}

.city-content{
	display: grid;
	grid-template-columns: 1fr 4fr;
	padding: 50px 0;
	text-align: center;
}	
.city-content h1{
	font-family: 'Montserrat Black', sans-serif;
	font-size: 5rem;
	padding: 0;
	margin: 0;

}
.loc-pin{
	background-image: url('/location-pin.svg');
	background-position: center;
	background-repeat: no-repeat;
}
@media(max-width: 1200px){
	.centeredRow{
		padding-top: 5rem;
	}
	.city-content{
		grid-template-columns: 1fr 3fr;
	}
	.city-content h1{
		font-size: 60px;
		margin-top: 10px
	}
	.info-section{
		top:65vh;
		padding-top:200px
	}
}
@media(max-width: 975px){
	.city-content img{
		max-height: 100px;
		display:flex;

	}
}
@media(max-width: 900px){
	.city-content h1{
		font-size: 70px;
	}
	.city-content img{
		height: 100px;
		display: flex;
		justify-self: flex-end;
		align-self: center;
	}
	.info-section{
		padding-top: 100px;
		top: 70vh;
	}
}